asgiref==3.4.1
Django==3.2.12
importlib-metadata==4.8.3
Markdown==3.3.6
mysqlclient==2.1.0
packaging==21.3
pkg-resources==0.0.0
pyparsing==3.0.7
python-dotenv==0.19.2
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
typing-extensions==4.0.1
webencodings==0.5.1
zipp==3.6.0
