{% extends "note_base.html" %}

{% block title %}Notes{% endblock %}

{% block content %}
  {% for note in notes_page %}
  {% include "note.html" %}
  {% empty %}
  <p>No notes</p>
  {% endfor %}

  <ul class="pagination mt-5">
    {% for page in pages %}
      {% ifnotequal page.number page_number %}
        <li class="page-item"><a href="?page={{ page.number }}" class="page-link">{{ page.number }}</a></li>
      {% else %}
        <li class="page-item active"><span class="page-link">{{ page.number }}</span></li>
      {% endifnotequal %}
    {% endfor %}
  </ul>
{% endblock %}